fastapi==0.115.0
uvicorn[standard]==0.30.0
pydantic==2.11.7
httpx==0.28.1
python-dotenv==1.0.1
groq==1.0.0
langsmith==0.4.27
google-genai==1.47.0
langchain==0.3.27
langchain-core==0.3.84
langchain-community==0.3.31
langchain-text-splitters==0.3.11
langchain-google-genai==2.0.1
langchain-chroma==0.2.6
langchain-huggingface==0.3.1
chromadb==1.5.9
sentence-transformers==5.1.2
langgraph==0.6.11
langgraph-checkpoint==2.1.2
langgraph-prebuilt==0.6.5
langgraph-sdk==0.2.9
